@import "tailwindcss";


@theme {
  --color-samu-bg: #EFF7F6;
  --color-samu-text: #1F2D3A;
  --color-samu-border: #DDE9E8;
  --color-samu-neutral: #95A5A6;

  /* Azul Confiança */
  --color-samu-primary-lighter: #E6F2FA;
  --color-samu-primary-light: #5AA7E2;
  --color-samu-primary: #2587D7;
  --color-samu-primary-dark: #1B66A4;
  --color-samu-primary-darker: #12446E;

  /* Dourado */
  --color-samu-accent-lighter: #FFF9E6;
  --color-samu-accent-light: #D4B05F;
  --color-samu-accent: #C4983A;
  --color-samu-accent-dark: #9E782B;
  --color-samu-accent-darker: #75581F;

  /* Funcionais */
  --color-samu-success: #48A999;
  --color-samu-warning: #F39C12;
  --color-samu-danger: #D9534F;
}

